<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link th:href="@{/styles/weather.css}" rel="stylesheet" type="text/css">
    <title>Weather Viewer</title>
</head>
<body>
<div th:include="header.html"></div>
<main class="container-fluid weather-body">
    <div class="row">
        <div class="offset-2 col-4">
            <div class="mt-2">
                <form action="/weather" method="post">
                    <label>
                        <input class="weather-input" name="city" type="search" placeholder="Search for a location"/>
                    </label>
                </form>
                <div th:if="${#request.getParameter('error') != null}">
                    <div th:text="${#request.getParameter('error')}" class="card-error"></div>
                </div>
            </div>
            <div class="d-flex justify-content-between weather-info">
                <div class="d-flex flex-column justify-content-between ms-5 mt-4">
                    <h2 class="weather-city d-flex justify-content-center align-items-center">
                        <span th:text="${weather.city}"/>
                        <form th:action="${'/location'}" th:method="post">
                            <input type="hidden" name="city" th:value="${weather.city}"/>
                            <input type="hidden" name="latitude" th:value="${weather.latitude}"/>
                            <input type="hidden" name="longitude" th:value="${weather.longitude}"/>
                            <button class="btn-none">
                                <img src="../images/add-btn.png" alt="" width="32" height="32"/>
                            </button>
                        </form>
                    </h2>
                    <h3 class="weather-temperature pb-4">
                        <span th:text="${weather.temperature} + '&deg;C'"/>
                    </h3>
                </div>
                <img th:src="${'../images/' + weather.weatherCode.getIcon()}" alt="" width="240px" height="240px"/>
            </div>
            <div class="weather-card">
                <h4 class="weather-card-header p-3">Air Quality</h4>
                <div class="weather-card-body ps-5">
                    <div class="weather-card-item">
                        <span class="weather-icon">
                            <img src="../images/thermometer-celsius.svg" alt="" width="36px" height="36px"/>
                            Real feel
                        </span>
                        <div class="weather-icon-text">
                            <span th:text="${weather.feelsLike}"></span>
                            &deg;C
                        </div>
                    </div>
                    <div class="weather-card-item">
                        <span class="weather-icon">
                            <img src="../images/wind.svg" alt="" width="36px" height="36px"/>
                            Wind
                        </span>
                        <div class="weather-icon-text">
                            <span th:text="${weather.windSpeed}"></span>
                            km/h
                        </div>
                    </div>
                    <div class="weather-card-item">
                        <span class="weather-icon">
                            <img src="../images/humidity.svg" alt="" width="36px" height="36px"/>
                            Humidity
                        </span>
                        <div class="weather-icon-text">
                            <span th:text="${weather.humidity}"></span>
                            %
                        </div>
                    </div>
                    <div class="weather-card-item">
                        <span class="weather-icon">
                            <img src="../images/barometer.svg" alt="" width="36px" height="36px"/>
                            Pressure
                        </span>
                        <div class="weather-icon-text">
                            <span th:text="${weather.pressure}"></span>
                            mb
                        </div>
                    </div>
                </div>
            </div>
            <div class="weather-card mt-3">
                <h4 class="weather-card-header p-3">Sunrise & Sunset</h4>
                <div class="weather-card-body ps-5">
                    <div>
                        <div class="weather-card-item">
                        <span class="weather-icon">
                            <img src="../images/sunrise.svg" alt="" width="36px" height="36px"/>
                            Sunrise
                        </span>
                            <div class="weather-icon-text">
                                <span th:text="${weather.sunrise} + ' AM'"></span>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="weather-card-item">
                        <span class="weather-icon">
                            <img src="../images/sunset.svg" alt="" width="36px" height="36px"/>
                            Sunset
                        </span>
                            <div class="weather-icon-text">
                                <span th:text="${weather.sunset} + ' PM'"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="offset-2 col-3">
            <div th:include="savedLocations.html"></div>
        </div>
    </div>
</main>
</body>
</html>