<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Weather</title>
</head>
<body>
<div class="nav d-flex justify-content-between align-items-center bg-secondary">
    <span th:href="@{../images/logo.svg}"></span>
    <h2>Weather Viewer</h2>
<!--    <p th:text="${user.name}"></p>-->
</div>
<div class="d-flex justify-content-center align-items-center bg-light">
    <div class="m-5">
        <div class="w-100 text-center">
            <div>City: <p th:text="${weather.city}"></p></div>
            <div>Country: <p th:text="${weather.country}"></p></div>
        </div>
        <br>
        <div class="w-100 text-center">
            <div>
                <ul class="list-unstyled d-flex flex-column justify-content-around align-items-start">
                    <li>Longitude: <span th:text="${weather.longitude}"></span></li>
                    <li>Latitude: <span th:text="${weather.latitude}"></span></li>
                    <li>Weather: <span th:text="${weather.weatherIcon}"></span></li>
                    <li>Sunrise: <span th:text="${weather.sunrise}"></span></li>
                    <li>Sunset: <span th:text="${weather.sunset}"></span></li>
                    <li>Temp: <span th:text="${weather.temperature}"></span></li>
                    <li>Humidity: <span th:text="${weather.humidity}"></span></li>
                    <li>Pressure: <span th:text="${weather.pressure}"></span></li>
                    <li>Visibility: <span th:text="${weather.visibility}"></span></li>
                    <li>WindSpeed: <span th:text="${weather.windSpeed}"></span></li>
                    <li>WindDeg: <span th:text="${weather.windDeg}"></span></li>
                </ul>
            </div>
        </div>
    </div>
</div>
</body>
</html>