.weather-body {
    background-color: #161616;
    width: 100vw;
    height: 95vh;
}

.weather-input {
    width: 792px;
    height: 48px;
    padding: 0 8px;
    box-sizing: border-box;
    border-radius: 24px;
    background-color: #323232;
    color: #bfbfbf;
    font-size: 14px;
    font-family: "Source Code Pro", cursive;
    line-height: 19px;
    outline: none;
}

.weather-info {
    width: 792px;
}

.weather-city {
    color: #fff;
    font-size: 40px;
    font-weight: 700;
    line-height: 46px;
    font-family: "Source Code Pro", cursive;
}

.weather-temperature {
    color: #fff;
    font-size: 64px;
    font-weight: 600;
    font-family: "Source Code Pro", cursive;
    line-height: 72px;
}

.weather-card {
    width: 792px;
    height: 270px;
    background-color: #323232;
    border-radius: 24px;
}

.weather-card-header {
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    font-family: "Source Code Pro", cursive;
}

.weather-card-body {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.weather-card-item {
    width: 250px;
    height: 65px;
    margin-top: 25px;
}

.weather-icon {
    color: #fff;
    font-size: 20px;
}

.weather-icon-text {
    color: #fff;
    font-size: 26px;
    font-family: "Source Code Pro", cursive;
    font-weight: 600;
    line-height: 38px;
    padding-left: 40px;
}

.searched {
    width: 480px;
    height: 780px;
    background-color: #323232;
    border-radius: 24px;
    margin-top: 75px;
    color: #fff;
    font-family: "Source Code Pro", cursive;
    font-weight: 600;
    line-height: 38px;
    overflow: auto;
}

.searched-card {
    width: 85%;
    margin: 0 auto;
    border-bottom: #626262 1px solid;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.searched-card h3 {
    width: 40%;
    padding: 10px 0;
    overflow: hidden;
}

.searched-icon-text {
    display: flex;
    align-items: center;
}

.searched-icon-temp {
    width: 25%;
    color: #fff;
    font-size: 26px;
    font-weight: 600;
    line-height: 38px;
    padding-left: 20px;
}

.button-add {
    border: none;
    cursor: pointer;
    box-sizing: border-box;
    width: 100px;
    height: 32px;
    border-radius: 24px;
    background-color: #f73939;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    font-family: "Source Code Pro", cursive;
    line-height: 22px;
    outline: none;
}

.button-added {
    border: none;
    cursor: pointer;
    box-sizing: border-box;
    width: 100px;
    height: 32px;
    border-radius: 24px;
    background-color: #6b6b6b;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    font-family: "Source Code Pro", cursive;
    line-height: 22px;
    outline: none;
}

.animated-button:hover {
    transform: scale(1.2);
}

.btn-none {
    border: none;
    background: none;
}

.card-error {
    color: red;
    font-size: 20px;
    font-weight: 500;
    line-height: 16px;
    font-family: "Source Code Pro", cursive;
    margin: 10px 0;
}